$primary-color: #712ed6;
$bg-color: #0f1626;
$secondary-color: #f4d211;
$text-color1: #ffff;
$white-color: #ffff;
//font size
$text-size-1: 14px;
$text-size-2: 16px;
$text-size-3: 18px;

//border-radius

$border-radius-10: 10px;
$border-radius-12: 12px;
$border-radius-20: 20px;
$border-radius-30: 30px;
